.lienzo, .contenedor-mensajes {
    height: 100%;
}

.nav-wrapper {
    z-index:9999;
}

.campo_mensaje {
    position: fixed;
    bottom: 0;
}

.lienzo {
    bottom: 0;
    right: 0;
    width:66%;
    position:fixed;
}
.campo-mensaje {
    position:fixed;
    bottom: 0;
    width:66%;
    right:0;
}

#lista-mensajes {
    width: 100%;
    position: absolute;
    bottom: 6%;
    top: 64px;
    max-height: 100%;
}

.mensaje-izquierda {
    max-width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.mensaje-derecha {
    max-width: 50%;
    margin-left: 50%;
    right: 0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}



.buscarUsuarioDiv{
    margin-top: 16px;
    background-color: rgba(7, 70, 119, 0.05);
}

#lista-chats{
    overflow: scroll;
    height: 17cm;
    padding-bottom: 10cm;
}

#contenedor_izq{
    position: fixed;
}

#buscarUsuarios{
    margin-bottom: 0px;
    background-color: rgba(7, 70, 119, 0.05);
    width: 85%;
    padding-left: 5%;
}

.fecha_mensaje{
    height: 3px;
    text-align: right;
    font-size: 9px;
}

#mensaje{
    width: 80%;
    float: left;
}

#enviarMensaje {
    width: 2.8cm;
    float: left;
    margin-right: auto;
    margin-left: 3.5%;
    height: 40px;
    padding-top: 7px;
}
