.lienzo, .contenedor-mensajes {
    height: 100%;
}

.nav-wrapper {
    z-index:9999;
}

.campo_mensaje {
    position: fixed;
    bottom: 0;
}

.lienzo {
    bottom: 0;
    right: 0;
    width:68%;
    position:fixed;
}
.campo-mensaje {
    position:fixed;
    bottom: 0;
    width:68%;
    right:0;
}