html,
body {
    height: 100%;
}

/* label color */
 .input-field label {
   color: #BF3364;
 }
 /* label focus color */
 .input-field input[type=email]:focus + label, .input-field input[type=password]:focus + label {
   color: #BF3364;
 }
 /* label underline focus color */
 .input-field input[type=email]:focus,.input-field input[type=password]:focus {
   border-bottom: 1px solid #BF3364;
   box-shadow: 0 1px 0 0 #BF3364;
 }
 /* valid color */
 .input-field input[type=email].valid,.input-field input[type=password].valid {
   border-bottom: 1px solid #074677;
   box-shadow: 0 1px 0 0 #074677;
 }
 /* invalid color */
 .input-field input[type=email].invalid, .input-field input[type=password].invalid {
   border-bottom: 1px solid #074677;
   box-shadow: 0 1px 0 0 #074677;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: #074677;
 }

 /* Color del datepicker */
 .picker__date-display, .picker__weekday-display{
    background-color: #074677;
}

select.invalid ~ .select-dropdown {
      border-bottom: 1px solid #F44336;
}

@media only screen and (min-width : 601px) and (max-width : 1260px) {
.toast {
width: 100%;
border-radius: 0;} }

@media only screen and (min-width : 1261px) {
.toast {
width: 100%;
border-radius: 0; } }

@media only screen and (min-width : 601px) and (max-width : 1260px) {
#toast-container {
min-width: 100%;
bottom: 0%;
top: 90%;
right: 0%;
left: 0%;} }

@media only screen and (min-width : 1261px) {
#toast-container {
min-width: 100%;
bottom: 0%;
top: 90%;
right: 0%;
left: 0%; } }



.blue-code{
  background-color: #074677 !important;
}

.green-code{
  background-color: #BF3364 !important;
}

.rose_code {
    background-color: #BF3364; !important;
}

.rose_code-text {
    background-color: #BF3364; !important;
}

.green-code-text{
  color: #BF3364 !important;
}

.blue-code-text{
  color: #074677 !important;
}

.checkbox-green-code[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #BF3364;
     background-color: #BF3364;
}

.input-field input[type=text]:focus + label { color:  #BF3364; } /* label underline focus color */
.input-field input[type=text]:focus { border-bottom: 1px solid  #BF3364; box-shadow: 0 1px 0 0  #BF3364; }


textarea + label[data-error]:after {
  white-space: nowrap;
  font-size: 12px;
  margin-top:15px;
}

li.page.active{
  background-color: #BF3364 !important;
}

/*data table color */
table.table thead .sorting_asc {
    background-color: #BF3364;
    color: #fff;
    font-weight:bold;
    font-size: 13px;
}

table.table thead .sorting_desc {
    background-color: #BF3364;
    color: #fff;
    font-weight:bold;
    font-size: 13px;
}


table.table thead .sorting {
    background-color: #074677;
    color: #fff;
    font-weight:bold;
    font-size: 13px;
}


.modal {
	width: 80%;
	
}

.deleteP {
    display: none;
}

.anuncio:hover .deleteP {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}
